<!--
	=====================
	Partials/ResultRow.html
-->

<li class="result-list-item result-list-item-type-{resultrow.type}">
	<f:if condition="{conf.resultsNumeration}">
		<span class="result-number">{resultrow.number}.</span>
	</f:if>
	<span class="result-title"><f:format.raw>{resultrow.title}</f:format.raw></span>
	<span class="clearer">&nbsp;</span>
	<div class="result-category">
			{resultrow.typerow}
			</div>
	<div class="add-info">
		<f:if condition="{conf.showResultUrl}">
			<i>{f:translate(key: 'LLL:EXT:ke_search/Resources/Private/Language/locallang_searchbox.xml:label_resulturl')}:</i> <f:format.raw>{resultrow.url}</f:format.raw><br />
		</f:if>

		<f:if condition="{resultrow.type} == 'cal'">
			<f:then>
				<f:comment><!-- Special cal date rendering --></f:comment>
				<f:render partial="CalDate" arguments="{resultrow: resultrow}" />
				<br />
			</f:then>
			<f:else>
				<f:comment><!-- Default date rendering --></f:comment>
				<f:if condition="{conf.showDate}">
					<i>{f:translate(key: 'LLL:EXT:ke_search/Resources/Private/Language/locallang_searchbox.xml:label_date')}:</i> {resultrow.date}<br />
				</f:if>
			</f:else>
		</f:if>
		<f:if condition="{conf.showTags}">
			<i>{f:translate(key: 'LLL:EXT:ke_search/Resources/Private/Language/locallang_searchbox.xml:label_tags')}:</i> {resultrow.tags}<br />
		</f:if>
	</div>
	<span class="teaser_icon">
        <f:render
            section="typeIconOrPreviewImage"
            arguments="{icon: resultrow.typeIconPath, filePreviewId: resultrow.filePreviewId, treatIdAsReference:resultrow.treatIdAsReference, iconConf: conf.showTypeIcon}"
        />
    </span>
	<span class="result-teaser"><f:format.raw>{resultrow.teaser}</f:format.raw></span>
	<span class="clearer">&nbsp;</span>
</li>


<f:section name="typeIconOrPreviewImage">
    <f:if condition="{iconConf} && !{filePreviewId}">
        <f:then>
            <f:image src="{icon}" maxWidth="16" maxHeight="16" />
        </f:then>
        <f:else>
            <f:if condition="{filePreviewId}">
                <f:image src="{filePreviewId}" treatIdAsReference="{treatIdAsReference}" maxWidth="200" />
            </f:if>
        </f:else>
    </f:if>
</f:section>
