<!--
	=====================
	Partials/ResultRows.html
-->

<div class="clearer"> </div>
<br />
<f:render partial="Sorting" arguments="{conf: conf, numberofresults: numberofresults, sortingLinks: sortingLinks}" />
<div id="kesearch_num_results">{numberofresults} {f:translate(key: 'LLL:EXT:ke_search/Resources/Private/Language/locallang_searchbox.xml:num_results_plain')}</div>
<div id="number_per_page">
	<label>Eintr&auml;ge pro Seite:
		<select id="dropdown_per_page" name="number_per_page">
			<f:for each="{numberperpage}" as="number">
				<option value="{number.url}" {f:if(condition: '{number.selected}', then: 'selected = "selected"')}>{number.value}</option>
			</f:for>
		</select>
	</label>
	<script>
		document.getElementById("dropdown_per_page").onchange = function() {
			if (this.selectedIndex!==0) {
				window.location.href = this.value;
			}        
		};
	</script>
</div>
<f:if condition="{conf.pagebrowserOnTop}">
	<div id="kesearch_pagebrowser_top"><f:render partial="PageBrowser" arguments="{conf: conf, numberofresults:numberofresults, pagebrowser:pagebrowser}" /></div>
</f:if>
<ol id="kesearch_results">
	<f:for each="{resultrows}" as="resultrow">
		<f:render partial="ResultRow" arguments="{conf: conf, resultrow: resultrow}" />
	</f:for>
</ol>
<f:if condition="{conf.pagebrowserAtBottom}">
	<div id="kesearch_pagebrowser_bottom"><f:render partial="PageBrowser" arguments="{conf: conf, numberofresults:numberofresults, pagebrowser:pagebrowser}" /></div>
</f:if>
<f:if condition="{conf.showQueryTime}">
	<div id="kesearch_query_time">{queryTimeText}</div>
</f:if>
