<!--
	=====================
	Partials/Filters/Checkbox.html
-->

<div class="list" id="list_{filter.id}">

    <ul id="options_{filter.id}" class="checkboxList">
        <li class="optionCheckBox optionCheckBox{filter.uid} optionCheckBox{filter_uid}_{filter.id}">
            <input type="checkbox" name="main_filter" id="{filter.id}" value="{filter.title}" onchange="toggleSearch(this)"/>
            <label for="{filter.id}">{filter.title}</label>
        </li>
        <li class="clearer"></li>
        <f:for each="{filter.checkboxOptions}" as="option">
            <li class="optionCheckBox optionCheckBox{filter.uid} optionCheckBox{filter_uid}_{option.value}">
                <input type="checkbox" name="{filter.name}[{option.key}]" id="{option.id}" value="{option.tag}" {f:if(condition: '{option.selected}', then: ' checked="checked"')} {f:if(condition: '{option.disabled}', then: 'disabled = "disabled"')} onchange="toggleSearch(this)"/>
                <label for="{option.id}">{option.title}<f:if condition="{option.results}"><f:if condition="{filter.shownumberofresults} && {option.results}"> ({option.results})</f:if></f:if></label>
            </li>
            <li class="clearer"></li>
        </f:for>
    </ul>
    <script>
		checkboxes = document.getElementsByTagName('input');
		var all = true;
		for(var i=0, n=checkboxes.length;i<n;i++) {
			if(checkboxes[i].name.toLowerCase() != 'main_filter'){
				if(checkboxes[i].type.toLowerCase() == 'checkbox'){
					all &= checkboxes[i].checked;
				}
			}
		}
		for(var i=0, n=checkboxes.length;i<n;i++) {
			if(checkboxes[i].name.toLowerCase() == 'main_filter'){
				checkboxes[i].checked = all;
			}
		}
	</script>
	<script>
		function toggleSearch(source) {
			checkboxes = document.getElementsByTagName('input');
			if(source.name.toLowerCase() == "main_filter" && source.checked){
				for(var i=0, n=checkboxes.length;i<n;i++) {
					if(checkboxes[i].type.toLowerCase() == 'checkbox'){
						checkboxes[i].checked = source.checked;
					}
				}
			}else{
				for(var i=0, n=checkboxes.length;i<n;i++) {
					if(checkboxes[i].type.toLowerCase() == 'checkbox'){
						if(checkboxes[i].name.toLowerCase() == 'main_filter'){
							checkboxes[i].checked = false;
						}
					}
				}
			}
		}
	</script>
</div>